<div class="container">
  <div class="row">
    <div class="col-md-6">
        <br><h4 class="text-center mb-4">ユーザー情報一覧・詳細</h4>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>名前</th>
              <th>メールアドレス</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @customers.each do |customer| %>
              <tr>
                <td><%= customer.name %></td>
                <td><%= customer.email %></td>
                <td>
                <h2><%= link_to '編集', edit_admin_customer_path(customer), class: "btn btn-outline-secondary btn-sm" %></h2>
              <h2><%= link_to '退会', admin_customer_path(customer), method: :delete, data: { confirm: '本当に退会しますか？' }, class: "btn btn-outline-danger btn-sm" %></h2>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <%= paginate @customers %>
    </div>

    <div class="col-md-6">
      <div class="admin-groups">
        <br><h4 class="text-center mb-4">管理者用チャットグループ<br>一覧</h4>
        <div class="list-group">
          <% @groups.each do |group| %>
            <div class="list-group-item d-flex justify-content-between align-items-center">
              <%= link_to admin_group_path(group), class: "list-group-item list-group-item-action" do %>
              <div>
                <h4 class="mb-1"><%= group.name %></h4>
                <p class="mb-1">メンバー数: <%= group.customers.count %></p>
              </div>
              <% end %>
              <div>
                <%= link_to '編集', edit_group_path(group), class: "btn btn-outline-secondary btn-sm mr-2 edit-group-link" %><%= link_to '削除', admin_group_path(group), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-outline-danger btn-sm delete-group-link" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <%= paginate @groups %>
    </div>
  </div>
</div>

<br></br>

<h5>ユーザー投稿一覧は<%= link_to 'こちら', admin_post_images_path %></h5>

<br></br>

<%= link_to 'ログアウトはこちら', destroy_admin_session_path, method: :delete %>